timeline-img {
	
	.cd-timeline-img {
		position: absolute;
		top: 0;
		left: 50%;
		margin-left: -20px;
		width: 40px;
		height: 40px;
		border-radius: 50%;
		box-shadow: 0 0 0 4px white, inset 0 2px 0 rgba(0, 0, 0, 0.08), 0 3px 0 4px rgba(0, 0, 0, 0.05);
		background: #75ce66;
		/* Force Hardware Acceleration in WebKit */
		-webkit-transform: translateZ(0);
		-webkit-backface-visibility: hidden;

		img {
			display: block;
		  width: 24px;
		  height: 24px;
		  position: relative;
		  left: 50%;
		  top: 50%;
		  margin-left: -12px;
		  margin-top: -12px;
		}

	}

}

