<ion-header>
  <ion-navbar>
  	<button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>LiveMatches</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <div *ngIf="(!loading) && (matches === undefined || matches === null || matches.length === 0)" empty-state padding>
    <img src="assets/images/empty-state.png" />
    <h3 text-center>No matches found.</h3>
  </div>

	<ion-grid>
		<ion-row wrap>
			<ion-col col-width *ngFor="let match of matches; ">
				<ion-card (click)="openMatch(match)">
			    <img src="http://www.diario4v.com/u/fotografias/fotosnoticias/2015/5/14/12034.jpg"/>
			    <div class="card-title">{{ match.localTeam }} - {{ match.visitorTeam }}</div>
			    <div class="card-subtitle">{{ match.date | date:'hh:mm dd/MM/yy'}}</div>
			  </ion-card>
			</ion-col>
		</ion-row>
	</ion-grid>
</ion-content>
