// http://ionicframework.com/docs/v2/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

.toast-success {
    .toast-wrapper {
        background:   color($colors, success);
    }
    .toast-message {
         color:  color($colors, dark);
     }
     .toast-button {
         color:  color($colors, dark);
     }
}

.toast-warning {
     .toast-wrapper {
         background-color:   color($colors, warning);
     }
     .toast-message {
         color:  color($colors, dark);
     }
     .toast-button {
         color:  color($colors, dark);
     }
}

.toast-error {
     .toast-wrapper {
         background-color:   color($colors, danger);
     }
     .toast-message {
         color:  color($colors, dark);
     }
     .toast-button {
         color:  color($colors, dark);
     }
}

.banner {
    max-height: 150px;
    overflow: hidden;
    border-bottom: 2px solid #fff; 
    margin-bottom: 50px;

    img {
        -webkit-filter: blur(25px);
        -moz-filter: blur(25px);
        -o-filter: blur(25px);
        -ms-filter: blur(25px);
        filter: blur(25px);
        min-width: 130%;
    }
}

.avatar {
    position: absolute;
    max-width: 40%;
    overflow: hidden;
    top: 75px; left: 0; right: 0;
    margin: auto;

    img {
        max-height: 150px;
        width: auto;
        margin: auto;
        display: block;
        border: 2px solid #fff;
        border-radius: 50%;
        overflow: hidden
    }
}


.content-md {
  background-image: url('../assets/images/sports-3.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.item-ios, .item-md, .item-wp {
    background-color: transparent;
}
