page-event-details {

	.banner {
    max-height: 150px;
    overflow: hidden;
    border-bottom: 2px solid #fff; 
    margin-bottom: 25px;

    img {
      -webkit-filter: blur(25px);
      -moz-filter: blur(25px);
      -o-filter: blur(25px);
      -ms-filter: blur(25px);
      filter: blur(25px);
      min-width: 130%;
    }
  }

  div {
    canvas {
      width: 90% !important;
      height: 90% !important;
      margin: auto;
    }

  }

  @import './trigonometry';

   @mixin translate-menu-item($r, $theta, $n) {
    @if ($n == "first") {
      transform: translate(-$r, 0);
    } @else if ($n == "last") {
      transform: translate($r, 0);
    } @else {
      transform: translate(floor(-$r * cos($theta)), floor(-$r * sin($theta)));
    }
  }

  ion-fab {
    $initial-delay: 0;
    $delay-increment: 0.05;
    $delay: $initial-delay;
    $items: 5;

    $increment: 180deg/($items - 1);                               
    $angle: $increment;                                               
    $spread-radius: 125px !default;                               
    
    $position: -69px;
    @for $i from 1 through ($items) {

      ion-fab-list button[ion-fab]:nth-child(#{$i}) {
        -webkit-transition-delay: $delay + 's';
        transition-delay: $delay + 's';
        top: 0px;
        left: $position;
      }
      $position: $position - 55px;
      $delay: $delay + $delay-increment;
    }

    ion-fab-list button[ion-fab]:nth-child(1) {
      @include translate-menu-item($spread-radius, 0, "first");
    }

    @for $i from (2) through (($items - 1/ 2)) {
      ion-fab-list button[ion-fab]:nth-child(#{$i}) {
        @include translate-menu-item($spread-radius, $angle, "");
      }
      $angle: $angle + $increment;
    }

    @for $i from (($items - 1/ 2)) through (($items + 1/ 2)) {
      ion-fab-list button[ion-fab]:nth-child(#{$i}) {
        @include translate-menu-item($spread-radius, $angle, "");
      }
      $angle: $angle - $increment;
    }

    ion-fab-list button[ion-fab]:nth-child(#{$items}) {
      @include translate-menu-item($spread-radius, 90deg, "last");
    }

    
  } 

  @mixin transition($transition...) {
    -webkit-transition: $transition;
    transition: $transition;
  }

  .fab-menu-overlay {
    @include transition(all 0.2s ease 0.2s);
    position: fixed;
    display: none;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.6);
    width: 100%;
    height: 100%;
    z-index: 1;

    &.active {
      display: block;
    }
  }
  

}
