<ion-header>
  <ion-navbar>
    <ion-title>Match Timeline</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-grid>
    <ion-row>
      <ion-col width-50 text-left>LOCAL</ion-col>
      <ion-col width-50 text-right>VISITANTE</ion-col>
    </ion-row>
  </ion-grid>
  <timeline>
    <timeline-block *ngFor="let event of events; let i = index; " (click)="openEvent(event)">
      <timeline-img>
        <img src="https://codyhouse.co/demo/vertical-timeline/img/cd-icon-picture.svg"/>
      </timeline-img>
      <timeline-content *ngIf="i % 2 !== 0">
        <h2>{{event.name}}</h2>
      </timeline-content>
      <timeline-content *ngIf="i % 2 === 0" align="right">
        <h2>{{event.name}}</h2>
      </timeline-content>
    </timeline-block>
  </timeline>
</ion-content>
