<ion-view view-title="{{'settings_title' | translate }}">
    <ion-content>
        <ion-list>
            <ion-toggle  ng-model="settings.enableFriends">
                {{ 'settings_enable_friends' | translate }}
            </ion-toggle>
            <label class="item item-input item-select">
                <span class="input-label">{{ 'settings_language' | translate }}</span>
                <select ng-model="settings.language" ng-change="switchLanguage(settings.language)">
                    <option value="es" selected>{{ 'settings_lang_es' | translate }}</option>
                    <option value="en">{{ 'settings_lang_en' | translate }}</option>
                </select>
            </label>
            
        </ion-list>
    </ion-content>
</ion-view>
