<ion-view view-title="{{stadium.name}}">
    <ion-content class="padding">
        <div class="list card">            
            <div class="item item-icon-left assertive">
                <i class="icon ion-ios-football"></i>
                <h2>{{stadium.name}}</h2>
                <p>{{stadium.address}}</p>
            </div>
            
            <div class="item item-image">
                <img ng-src="{{stadium.image}}">
            </div>
        </div>
  </ion-content>
</ion-view>

